{% set posts = get_section(path="posts/_index.md") %}
<div class="posts-title">
    <h1>{{ config.extra.papermod.posts_title }}</h2>
</div>
{% for page in posts.pages | slice(end=5) %}
<article class="post-entry">
  <header class="entry-header">
      <h2>{{ page.title }}</h2>
  </header>
  {% if page.summary %}
  <div class="entry-content">
      <p>{{ page.summary |safe }}</p>
  </div>
  {% endif %}
  <footer class="entry-footer">
      {% include "partials/post_meta.html" %}
  </footer>
  <a class="entry-link" aria-label="post link to {{ page.title }}" href="{{ page.permalink }}"></a>
</article>
{% endfor %}